body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* ###############   this is flex-container ( parent ) ################# */

.box-wrapper {
  border: 10px solid red;
  display: flex;

  /* justify content apply only main axis*/

  flex-direction: row;
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* flex-direction: row-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */

  /* height: 1000px; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */

  /* flex-direction: column-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}

/* ###############   this is flex-items ( child of class container)   ############### */

.box {
  border: 2px solid black;
  padding: 5px;

  /* justify content */

  width: 300px;
}

.box1 {
  background-color: lightblue;
}
.box2 {
  background-color: lightcoral;
}
.box3 {
  background-color: lightcyan;
}
.box4 {
  background-color: lightgoldenrodyellow;
}
.box5 {
  background-color: lightgray;
}
